html, #root, #root > div {
    background-color: #212121;
    max-height: 100vh;
    max-width: 100vw;
}

nav {
    background-color: black;
    color: whitesmoke
}

.button {
    position: relative
}

.progress {
    position: absolute
}

#activeUpdates, #esnList, #gsmList, #list {
    height: 75vh;
    overflow: auto;
}

#user-list {
    height: 35vh;
    overflow: auto;
}

#full-page {
    min-height: 90vh;
}